.boton-amarillo {
    @include boton(block);
}

.boton-verde {
        background-color: rgb(4, 175, 13);
        color: $blanco;
        font-weight: 600;
        text-decoration: none;
        padding: 1rem 3rem;
        margin: 2rem;
        text-align: center;
        display: block;
    
        width: 50rem;
    
        &:hover {
            background-color: $negro;
        }
}

.boton-rojo {
    background-color: $rojo;
        color: $blanco;
        font-weight: 600;
        text-decoration: none;
        padding: 1rem 3rem;
        margin: 2rem;
        text-align: center;
        display: block;
    
        width: 50rem;
    
        &:hover {
            background-color: $negro;
        }
}

.boton-naranja {
    background-color: rgb(235, 161, 1);
    color: $blanco;
    font-weight: 600;
    text-decoration: none;
    padding: 1rem 3rem;
    margin: 2rem;
    text-align: center;
    display: block;

    width: 50rem;

    &:hover {
        background-color: $negro;
    }
}