$fuentePrincipal : 'Montserrat', sans-serif;

//Colores
$verde: #046e00;
$celeste: #15a4e2;
$azul:  #1d76a9;
$negro: #1C1C1C;//color detectado con PINE TOOLS
$blanco: #FFFFFF;

$rojo: rgb(189, 7, 7);

//Media Queries


//Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;


//Separaciones
